.header {
	background-color: #6351ce;
}

.footer_content {
	background-color: #23272A;
}

.footer_bottom {
	background-color: #1A1F21;
}

body {
	background-color: #2a2d32;
}

hr.hr_footer {
	width: 60px;
}

a {
	color: hsla(0, 0%, 100%, 0.6);
}

a:hover {
	color: white;
}

.input-hidden {
  position: absolute;
  left: -9999px;
}

input[type=radio]:checked + label>img {
  border: 1px solid #fff;
  box-shadow: 0 0 5px 5px #6351ce;
}

/* Stuff after this is only to make things more pretty */
input[type=radio] + label>img {
  border: 1px dashed #444;
  width: 200px;
  height: 200px;
  transition: 500ms all;
}

input[type=radio]:checked + label>img {
  transform: 
    rotateZ(-10deg) 
    rotateX(10deg);
}

html {
  background-color: #fff;
  background-size: 100% 1.2em;
  background-image: 
    linear-gradient(
      90deg, 
      transparent 79px, 
      #abced4 79px, 
      #abced4 81px, 
      transparent 81px
    ),
    linear-gradient(
      #eee .1em, 
      transparent .1em
    );
}